{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container navbar container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
    
    <section class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="logo-font text-black">
                    Mural Art Captures by C-Kay
                </h1>
                <div class="avatar"></div>
            </div>
        
            <div class="col">
                
            </div>
            <div class="col-12">
                <div class="quote-box">
                    <p>
                        I started to take photos of street art while I was living in Perth and one day, I just quit my job. 
                        Whilst walking around town afterwards, I then looked up and saw a 5-storey street art, and snap, that was the start! 
                        I was so excited to move back to London knowing the amount of street art I could photograph in my hometown.
                    </p>
                    <p>
                        I love street art because of the energy I get from the art, 
                        whether it be a mural, paste up, stencil art, sticker art, etc. 
                        The street art scene in London changes every day as more artists create day to day on the same walls, 
                        I love capturing a moment of creativity before it disappears. 
                        Head <a href="#">here</a> to explore those captures.
                    </p>
                    <p>If you would like to immerse in to the world of Mural art of London, join me on the real life tour 
                        <a href="" ><i class="fas fa-hand-point-right"></i></a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}