{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container navbar container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
    
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="logo-font text-black">
                    Mural Art Captures by C-Kay
                </h1>
                <div class="avatar">
                </div>
            </div>
        </div>
    </div>
{% endblock %}