html {
    height: 100%;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: #212529;
    height: calc(100vh - 164px);
}

div.show {
    background-color: #212529;
    color: #fff;
}

.dropdown-item {
    color: #fff !important;
}

.dropdown-item:hover{
    background-color:#fff;
    color: #212529;
}

section {
    background: url("/media/home.jpeg") no-repeat center center;
    background-size: cover;
    background-position: relative;
    height: 100vh;
    color: #fff;
}

.home_section{
    margin-top: -10px;
}

.avatar {
    background: url("/media/avatart.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #434b53;
}

.quote-box {
    position: absolute;
    width: 85%;
    left: 7.5%;
    background-color: rgba(0, 0, 0, 0.815);
    padding: 10px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #fff;
}

.logo-font {
    text-transform: uppercase;
    text-align: center
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #212529;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #212529 !important; 
    color: white;
    border-radius: 10px;
}

.btn-outline-black {
    background: white;
    color: #212529 !important; /* use important to override link colors for <a> elements */
    border: 1px solid #212529;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #212529;
    color: white !important;
    border-radius: 10px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #212529;
    color: white;
    border-radius: 10px;
}

.text-black {
    color: #fff !important;
}

.text-dark {
    color: #212529;
}

.border-black {
    border: 1px solid white !important;
}

a.artist-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
    border-radius: 10px;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.capture-img {
    height: 250px;
    width: 250px;
}

.img-container {
    width: 300px;
    height: 300px;
}

/* box-shadow element taken from W3Schools (https://www.w3schools.com/csS/tryit.asp?filename=trycss3_box-shadow3) */
.img-container img {
    display: block;
    height: 100%;
    box-shadow: 13px 13px 5px #434b53;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* Allauth form formatting */
  
  .allauth-form-inner-content p {
      margin-top: 1.5rem; /* mt-4 */
      color: #6c757d; /* text-secondary */
  }
  
  .allauth-form-inner-content input {
      border-color: #212529;
      border-radius: 10px;
  }
  
  .allauth-form-inner-content label:not([for='id_remember']) {
      display: none;
  }
  
  .allauth-form-inner-content input::placeholder {
      color: #aab7c4;
  }
  
  .allauth-form-inner-content button,
  .allauth-form-inner-content input[type='submit'] {
      /* btn */
      display: inline-block;
      font-weight: 400;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #212529;
      border: 1px solid #212529;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 10px;
  
      /* standard bootstrap btn transitions */
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .allauth-form-inner-content button:hover,
  .allauth-form-inner-content input[type='submit']:hover {	
      color: #fff;
      background-color: #212529;
      border-color: #212529;
  }
  
  .allauth-form-inner-content a {
      color: #17a2b8; /* text-info */
  }

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 130px;
    }

}

@media (max-width: 991px) {
    .header-container {
        padding-top: 110px;
    }
}