html {
    height: 100%;
}

section {
    background: url("/media/home.jpeg") no-repeat center center;
    background-size: cover;
    background-position: fixed;
    height: max-content;
    color: #fff;
    font-family: 'Lato';
}

.avatar {
    background: url("/media/avatart.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 300%;
    margin-bottom: 2%;
}

.quote-box {
    position: absolute;
    width: 85%;
    left: 7.5%;
    background-color: rgba(0, 0, 0, 0.815);
    padding: 10px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #fff;
}

.logo-font {
    text-transform: uppercase;
    text-align: center
}

.main-logo-link {
    width: fit-content;
}

.text-black {
    color: #fff !important;
}

.border-black {
    border: 1px solid white !important;
}

/* -------------------------------- Media Queries */

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 120px;
    }
}