{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <p>{{ capture.artist }}</p>
                {%if capture.image%}
                    <div class="img-container">
                        <img src="{{ capture.image.url }}"/>
                    </div>
                {%endif%}
                <p>{{ capture.name }}</p>
                <p>{{ capture.description }}</p>
                <p>£{{ capture.price }}</p>
                {% if captures.artist %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'captures' %}?artist={{ captures.artist.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ captures.artist.friendly_name }}
                        </a>
                    </p>
                {% endif %}
                <form class="form" action="{% url 'add_to_cart' capture.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% with capture.has_option as o %}
                        {% if o %}
                            <div class="col-12">
                                <p><strong>Options:</strong></p>
                                <select class="form-control rounded-0 w-50" name="capture_option" id='id_capture_option'>
                                    <option value="signed">Signed</option>
                                    <option value="not-signed">Not Signed</option>
                                </select>
                            </div>
                        {% endif %}
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0" 
                                            data-item_id="{{ capture.id }}" id="decrement-qty_{{ capture.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number" 
                                    name="quantity" value="1" min="1" max="99" 
                                    data-item_id="{{ capture.id }}" id="id_qty_{{ capture.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0"
                                            data-item_id="{{ capture.id }}" id="increment-qty_{{ capture.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mt-2">
                            <a href="{% url 'captures' %}" class="btn btn-outline-black mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-black text-uppercase mt-5" value="Add to Cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% endwith %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'captures/includes/quantity_input_script.html' %}
{% endblock %}