<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto pull-up">
        <li class="nav-item d-block">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                HOME
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CAPTURES
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-captures-link">
                <a href="" class="dropdown-item">BY PRICE</a>
                <a href="" class="dropdown-item ">BY RATING</a>
                <a href="" class="dropdown-item ">BY ARTIST</a>
                <a href="{% url 'captures' %}" class="dropdown-item">All CAPTURES</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#">
                BOOK A TOUR
            </a>
        </li>
    </ul>
</div>