{% extends "base.html" %}
{% load static %}

{% block extra_js %}
    
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">BOOK A TOUR</h2>
            <hr>
            <p>
                Would you like to discover the best spots for the real life work of street artist presented here by C-Kay?
                Book an exiciting tour below to explore the whole new world of beautiful art pieces all around busy streets of London.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="{% url 'tour' %}" method="POST">
                {% csrf_token %}
                {{ tour_form.as_p }}
                <div class="col-12">
                    <input type="submit" class="btn btn-black text-uppercase mt-5" value="Add to Cart">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </div>
    </div>
</div>
{% endblock %}